<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="add-product-title">Add New Product</h1>
        <div class="add-product">
            <form action="/admin/add-product" method="POST" class="add-product-form">
                <input type="text" name="title">
                <button type="submit" class="btn-add-product">Add Product</button>
            </form>
        </div>

        <!-- <section class="grid">
            <div class="product-grid">
                <h3 class="product-title">
                    This is a Bag
                </h3>
                <div class="product-img">
                    <img src="https://img1.cohimg.net/is/image/Coach/c1454_svrzg_a0?fmt=jpg&wid=680&hei=885&bgc=f0f0f0&fit=vfit&qlt=75" alt="">
                </div>
                <h2 class="product-price">
                    $200
                </h2>
                <div class="product-description"></div>
                <button class="btn-add-cart">Add to Cart </button>
            </div>
        </section> -->

    </main>
</body>
</html>