<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
    
    
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__nav">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-heading">
        <h1>My Products</h1>
        <p>List of all the products...</p>
        </div>
    </main>
</body>

</html>